# Default
* @samotiwala @dvallado88

# Specific languages
software/python/** @samotiwala
software/cpp/** @dvallado88
software/cs/** @dvallado88
software/fortran/** @dvallado88
software/matlab/** @dvallado88